# dependencies
node_modules/
/dist
/web-build

# Expo
.expo/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS Specific
.DS_Store
*.pem

# Local env files
.env
.env.local
.env*.local

# Typescript
*.tsbuildinfo

# Project specific
app-example
/ios
/android
